img{
    width: 100%;
}
.no-image-size{
    width: 91%;
}
.no-rating-text{
    padding-top: 17px;
}
.column {
    float: left;
    width: 20%;
    padding-left: 15px;
}
h6{
    text-align: center;
    text-decoration: none;
    color: black;
    padding-right: 65px;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)  {
    .column{
        width: 25%;
    }
    .no-image-size{
        width: 88%;
        padding-left: 1px;
    }
    .no-rating-text{
        padding-top: 19px;
    }
    h6{
        padding-right: 40px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 500px)  {
    .column{
        width: 50%;
        padding: 2px 0px 2px 14px;
    }
    img{
        width: 100%;
    }
    .back-button{
        padding-top: 68px;
    }
    .no-image-size{
        width: 100%;
    }
    .no-rating-text{
        padding-top: 40px;
    }
    h6{
        padding-right: 30px;
    }
    .message{
        text-align: center;
        padding-left: 15px;
    }
    .title{ 
        text-align: center; 
        padding-top: 0px;
    }
}


