<div class="back-button">
    <button class="btn btn-primary" (click)="goBack()">{{back}}</button>
</div>
<div class="main-content">
    <ng-container *ngIf="searchResult && searchResult.length > 0;else noResult">
        <h4 class="title">{{title}}</h4>
        <ng-container *ngFor="let show of searchResult">
            <div class="column">
                <a routerLink="/details/{{show.show.id}}">
                    <div *ngIf="show.show.image">
                        <img src="{{show.show.image.medium}}" class="img-fluid rounded" alt="{{show.show.name}}">
                        <div *ngIf="show.show.rating?.average;else otherRating">
                            <h6>{{rating}} {{show.show.rating.average}}/10</h6>
                        </div>
                        <ng-template #otherRating>
                            <h6>{{noRating}}</h6>
                        </ng-template>
                    </div>
                </a>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #noResult>
        <div class="message">{{message}}</div>
    </ng-template>
    <div *ngIf="errorMessage" class="error">{{errorMessage}}</div>
</div>